{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Список працівників{% endblock %}

{% block content %}
<h1>Список працівників</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>По батькові</th>
            <th>Спеціальність</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('worker_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.middlename }}</td>
            <td>{{ entity.specialty }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('worker_show', { 'id': entity.id }) }}">Показати</a>
                    </li>
                    <li>
                        <a href="{{ path('worker_edit', { 'id': entity.id }) }}">Змінити</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('worker_new') }}">
            Створити новий запис
        </a>
    </li>
</ul>
{% endblock %}