{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Список вкладів та кредитів{% endblock %}

{% block content %}
<h1>Список вкладів та кредитів</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>ПІБ клієнта</th>
            <th>ПІБ працівника</th>
            <th>Прайс</th>
            <th>Сума</th>
            <th>Дата</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('Depositsandloans_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.customer.getPIB() }}</td>
            <td>{{ entity.worker.getPIB() }}</td>
            <td> Id: {{ entity.price.getId() }}, тип: {{ entity.price.getType() }}</td>
            <td>{{ entity.sum }}</td>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('Depositsandloans_show', { 'id': entity.id }) }}">Показати</a>
                    </li>
                    <li>
                        <a href="{{ path('Depositsandloans_edit', { 'id': entity.id }) }}">Змінити</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('Depositsandloans_new') }}">
             Створити новий запис
        </a>
    </li>
</ul>
{% endblock %}