{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}{{ entity.price.getType() }}{% endblock %}

{% block content %}   
<h1>{{ entity.price.getType() }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Клієнт</th>
            <td>{{ entity.customer.getPIB() }}</td>
        </tr>
        <tr>
            <th>Працівник</th>
            <td>{{ entity.worker.getPIB() }}</td>
        </tr>
        <tr>
            <th>Прайс</th>
            <td>ID: {{ entity.price.getId() }}, тип: {{ entity.price.getType() }}</td>
        </tr>
        <tr>
            <th>Сума</th>
            <td>{{ entity.sum }}</td>
        </tr>
        <tr>
            <th>Дата</th>
            <td>{{ entity.date|date('Y-m-d') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('Depositsandloans') }}">
            Назад до списку
        </a>
    </li>
    <li>
        <a href="{{ path('Depositsandloans_edit', { 'id': entity.id }) }}">
            Змінити
        </a>
    </li>
    <li>
        <form action="{{ path('Depositsandloans_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Видалити</button>
        </form>
    </li>
</ul>
{% endblock %}
