{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Редагування клієнта{% endblock %}

{% block content %}
<h1>Редагування клієнта</h1>

<form action="{{ path('Customers_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Змінити</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('Customers') }}">
            Назад до списку
        </a>
    </li>
    <li>
        <form action="{{ path('Customers_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Видалити</button>
        </form>
    </li>
</ul>
{% endblock %}
