{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Список клієнтів{% endblock %}

{% block content %}
<h1>Список клієнтів</h1>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>           
            <th>ПІБ</th>            
            <th>Серія паспорта</th>
            <th>№ паспорта</th>
            <th>Дата народженя</th>
            <th>Місто проживання</th>
            <th>Адреса</th>
            <th>Телефон</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('Customers_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.getPIB() }}</td>            
            <td>{{ entity.seriesofpassport }}</td>
            <td>{{ entity.numberofpassport }}</td>
            <td>{% if entity.dateofbirth %}{{ entity.dateofbirth|date('Y-m-d') }}{% endif%}</td>
            <td>{{ entity.cityofresidence }}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.phonenumber }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('Customers_show', { 'id': entity.id }) }}">Показати</a>
                    </li>
                    <li>
                        <a href="{{ path('Customers_edit', { 'id': entity.id }) }}">Змінити</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('Customers_new') }}">
            Створити новий запис
        </a>
    </li>
</ul>
{% endblock %}
