{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Клієнт{% endblock %}

{% block content %}   
<h1>Клієнт</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Прізвище</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Ім'я</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>По батькові</th>
            <td>{{ entity.middlename }}</td>
        </tr>
        <tr>
            <th>Серія паспорта</th>
            <td>{{ entity.seriesofpassport }}</td>
        </tr>
        <tr>
            <th>№ паспорта</th>
            <td>{{ entity.numberofpassport }}</td>
        </tr>
        <tr>
            <th>Дата народженя</th>
            <td>{{ entity.dateofbirth|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Місто проживання</th>
            <td>{{ entity.cityofresidence }}</td>
        </tr>
        <tr>
            <th>Адреса</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Телефон</th>
            <td>{{ entity.phonenumber }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('Customers') }}">
            Назад до списку
        </a>
    </li>
    <li>
        <a href="{{ path('Customers_edit', { 'id': entity.id }) }}">
            Змінити
        </a>
    </li>
    <li>
        <form action="{{ path('Customers_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Видалити</button>
        </form>
    </li>
</ul>
{% endblock %}
