{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}>Редагування кредитної спілки{% endblock %}

{% block content %}   
<h1>Редагування кредитної спілки</h1>

<form action="{{ path('Creditunions_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Редагувати</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('Creditunions') }}">
            Назад до списку
        </a>
    </li>
    <li>
        <form action="{{ path('Creditunions_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Видалити</button>
        </form>
    </li>
</ul>

{% endblock %}