{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Список кредитних спілок{% endblock %}

{% block content %}
<h1>Список кредитних спілок</h1>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Назва</th>
            <th>ЕДРПОУ</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('Creditunions_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.edrpou }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('Creditunions_show', { 'id': entity.id }) }}">Показати</a>
                    </li>
                    <li>
                        <a href="{{ path('Creditunions_edit', { 'id': entity.id }) }}">Змінити</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('Creditunions_new') }}">
            Створити новий запис
        </a>
    </li>
</ul>
{% endblock %}
