{% extends 'CreditUnionFrontendBundle::layout.html.twig' %}
{% block title %}Кредитна спілка{% endblock %}

{% block content %}   
<h1>Кредитна спілка</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Назва</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>ЕДРПОУ</th>
            <td>{{ entity.edrpou }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('Creditunions') }}">
            Назад до списку
        </a>
    </li>
    <li>
        <a href="{{ path('Creditunions_edit', { 'id': entity.id }) }}">
            Змінити
        </a>
    </li>
    <li>
        <form action="{{ path('Creditunions_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Видалити</button>
        </form>
    </li>
</ul>
{% endblock %}